@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    list-style: none;
}
table {
    border-collapse: collapse;
    /*표에서 셀들이 겹쳐져서 1px보더가 2px되는것을 방지*/
	border-spacing: 0;
}
html {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
  height: 400px;
  background-color: lightyellow;
}

.header {
  position: relative;
  background-color: salmon;
  padding: 0 10px 0 10px;
}

.logo {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  top: 6px;
  left: 20px;
}

.navigation {}

.nav-menu {
  margin-left: 130px;
}

.nav-menu::after {
  content: "";
  clear: both;
  display: block;
}

.nav-menu li {
  float: left;
  position: relative;
  margin-left: 10px;
}

.nav-menu li:hover::after {
  content: "";
  display: block;
  border-top: 4px solid black;
  background-color: yellow;
  margin-top: -4px;
}

.nav-menu li a {
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  height: 50px
}

.skip-nav {
  display: none;
  /*not the right way!*/
}

.readable-hidden {
  background-color: green;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  visibility: hidden;
}
